.footer {
  position: relative;
  width: 100%;  
  margin-top: 80px;
  background-color: #262626;
}

.footer_wrapper {
  width: 98%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}

@media (min-width:768px) {
  .footer_wrapper {
    width: 98%;
  }
}

@media (min-width:1124px) {
  .footer_wrapper {
    width: 92%;
  }
}

.footer_logo {
  margin-bottom: 40px;
}

.footer_nav {
  padding-top: 32px;
  padding-bottom: 48px;
  border-bottom: 1px solid #626262;
  border-top: 1px solid #626262;
}

@media (min-width:768px) {
  .footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer_info select {
  width: 173px;
  height: 40px;
  margin-bottom: 33px;
  background-color: #3B3B3B;
  border-radius: 2px;
  border-color: transparent;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  color: #FFFFFF;
  background-image: url(images/language_world.svg);
  background-position: 16px 10px; 
  background-repeat: no-repeat;
  padding: 0px 0px 0px 48px;
}

@media (min-width: 768px) {
  .footer_info select {
    width: 176px;
  }
}

@media (min-width: 1124px) {
  .footer_info select {
    width: 227px;
  }
}

.footer_tag {
  margin-bottom: 17px;
}

.footer_tag a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}

.footer_tag span {
  margin: 0 auto;
  color: #49A144;
}

.social_media {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .social_media {
    margin-bottom: 0;
  }
}

.social_media a{
  width: 24px;
  height: 24px;
  margin-right: 18px;
  text-decoration: none;
}

.footer_all_about a, 
.footer_help a {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer_stores {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #626262;
}

.footer_stores img {
  width: 107px;
  height: 35px;
  margin-left: 12px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .footer_stores img {
    width: 118px;
    height: 38px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1124px) {
  .footer_stores img {
    width: 135px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.footer_terms {
  margin-top: 40px;
  padding-bottom: 40px;
  display: grid;
}

@media (min-width: 768px) {
  .footer_terms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer_terms a {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .footer_terms a {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.arrow_up {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.arrow_up img {
  max-width: 64px;
  max-height: 64px;
  margin-right: 16px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .arrow_up img {
    max-width: 80px;
    max-height: 80px;
  }
}

.in_mob {
 max-width: 768px;
 display: none;
}

.in_desk {
  min-width: 770px;
}