@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  box-sizing: border-box;
}

.search {
  margin-top: 40px;
}

.search_wrapper {
  width: 98%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #9c9c9c;
}

@media (min-width: 768px) {
  .search_wrapper {
    width: 98%;
  }
}

@media (min-width: 1124px) {
  .search_wrapper {
    width: 92%;
  }
}

.search_form input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-image: url(images/search.svg);
  background-repeat: no-repeat;
  background-position: 0px 10px; 
  padding: 0px 0px 3px 32px;
  border: none;
}

.search_field {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .search_field {
    font-size: 16px;
  }
}

.mobile ::placeholder {
  color: black;
}

.mobile_wrapper {
  width: 98%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

@media (min-width: 768px) {
  .mobile_wrapper {
    display: none;
  }
}

.when_to_deliver p {
  margin-top: 24px;
  margin-bottom: 8px;
  color: gray;
  font-size: 12px;
  line-height: 13px;
}

.where_to_deliver p {
  margin-top: 24px;
  margin-bottom: 8px;
  color: gray;
  font-size: 12px;
  line-height: 13px;
}

.nav_form_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: Roboto;
}

.nav_time_mobile input {
  margin-right: 16px;
  width: 65px;
  height: 40px;
  text-align: center;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  box-sizing: border-box;
}

.nav_destination_mobile input {
  width: 227px;
  height: 40px;
  background-image: url(images/location.svg);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 0px 0px 0px 35px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}

/* cards */

.restaurants_wrapper {
  width: 98%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 56px;
}

@media (min-width: 550px) {
  .restaurants_wrapper {
    width: 98%;
  }
}

@media (min-width: 1124px) {
  .restaurants_wrapper {
    width: 92%;
  }
}

.restaurants_wrapper h1 {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;

}

.restaurants_cards {
  width: 98%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

@media (min-width: 768px) {
  .restaurants_cards {
    width: 98%;
  }
}

@media (min-width: 1124px) {
  .restaurants_cards {
    width: 92%;
  }
}

.card {
  width: 90%;
  height: auto;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .card {
    width: 49%;
    height: auto;
  }
}

@media (min-width: 1124px) {
  .card {
    width: 32%;
    height: auto;
  }
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  cursor: pointer;
}

.card h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  cursor: pointer;
}

.rest_food_type {
  margin: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.rest_time {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 21px;
}